html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top:50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 60px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.yellow{color: #f0ad4e}
.blue{color: blue}
.green{color: green}
.red{color:red}
.dot{float:left;margin:0 5px}
.btn-default, .btn-default:active{background:#fff}
.btn-group .active, .btn-default:active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.c{clear:both}
.fl{float:left}
.fr{float:right}
.mRight5{margin-right:5px}
.mLeft5{margin-left:5px}
.mLeft10{margin-left:10px}
.mTop5{margin-top:5px}
.mTop10{margin-top:10px}
.mTop15{margin-top:15px}
.mBottom5{margin-bottom:5px}
.mBottom10{margin-bottom:10px}
.mBottom15{margin-bottom:15px}
.handCur{cursor:pointer}

.float_loading{background: #008ED6 url(images/loading.gif) no-repeat 3px center;color: #fff;font-family: Arial, Helvetica, Verdana;padding: 6px 11px 6px 30px;display:block;position:fixed;z-index:10002;top:0px;right:0px}

.featurette-divider {margin: 80px 0}

.navbar-brand{text-transform:uppercase !important}