<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        [[|header|]]
    </div>
</nav>

<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        [[|leftMenu|]]
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        [[|leftInfo|]]
    </aside>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">[[|main|]]</div>
</section>